
Binaries
DerivedDataCache
*.log
Intermediate
Saved
Content/Assets
Content/MapList
Content/ThirdPerson
Content/Characters
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace