
Binaries
DerivedDataCache
*.log
Intermediate
Saved
Content/Assets
Content/MapList
Content/ThirdPerson
Content/Characters
Content/Movies
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Movies/Intro_Video.uasset
Content/Movies/MP_IntroPlayer.uasset
Content/Movies/MP_IntroPlayer_Video.uasset
Content/Movies/MS_IntroVideo.uasset
*.uasset
Content/Movies/Intro_Video.uasset
Content/Movies/MP_IntroPlayer.uasset
Content/Movies/MP_IntroPlayer_Video.uasset
Content/Movies/MS_IntroVideo.uasset
*.uasset
